{% extends "base_layout.html" %}
{% load static %}

{% block title %} | المدونات{% endblock %}

{% block content %}
    <section class="blog-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        {% for article in articles %}
                            <div class="col-lg-6 col-md-6">
                                <div class="single-blog-post">
                                    <div class="post-image">
                                        <a href="{{ article.get_absolute_url }}"><img
                                                src="{{ article.img_thumbnail_medium.url }}" alt="image"></a>
                                    </div>

                                    <div class="post-content">
                                        <div class="post-meta">
                                            <ul>
                                                <li>بواسطة: <a href="{% url 'Home:About-Us' %}">{{ setting.title }} </a></li>
                                                <li>{{ article.created_at.date }}</li>
                                            </ul>
                                        </div>

                                        <h3><a href="{{ articles.get_absolute_url }}">{{ articles.title }}</a></h3>
                                        <p>{{ articles.description | truncatewords:"20" | safe }}</p>
                                    </div>
                                </div>
                            </div>
                        {% empty %}

                        {% endfor %}


                        <div class="col-lg-12 col-md-12">
                            <div class="pagination-area">

                                {% if articles.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ articles.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                                    </span>

                                {% if articles.has_next %}
                                    <a href="?page={{ articles.next_page_number }}">next</a>
                                    <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}


                                {#                                {% if page_obj.has_previous %}#}
                                {#                                    <a href="?page={{ page_obj.previous_page_number }}"#}
                                {#                                       class="prev page-numbers">#}
                                {#                                        <i class="fas fa-angle-double-right"></i>#}
                                {#                                    </a>#}
                                {#                                {% endif %}#}
                                {##}
                                {#                                {% for page in paginator.page_range %}#}
                                {#                                    {% if page == page_obj.number %}#}
                                {#                                        <a href="{% URL page 'page' request.GET.urlencode %}"#}
                                {#                                           class="page-numbers current" aria-current="page">{{ page }}</a>#}
                                {#                                    {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}#}
                                {#                                        <a href="{% URL page %}"#}
                                {#                                           class="page-numbers">{{ page }}</a>#}
                                {#                                    {% endif %}#}
                                {#                                {% endfor %}#}
                                {##}
                                {##}
                                {#                                {% if page_obj.has_next %}#}
                                {#                                    <a href="{% URL page_obj.next_page_number 'page' request.GET.urlencode %}"#}
                                {#                                       class="next page-numbers"><i class="fas fa-angle-double-left"></i></a>#}
                                {#                                {% endif %}#}

                            </div>
                        </div>
                    </div>
                </div>

                {% include 'blog/sidebar.html' %}

            </div>
        </div>
    </section>
{% endblock %}