{% load static %}

    <!-- jQuery Min JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper Min JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap Min JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Owl Carousel Min JS -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- Slick Min JS -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <!-- Mean Menu JS -->
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <!-- Appear Min JS -->
    <script src="{% static 'js/jquery.appear.min.js' %}"></script>
    <!-- Odometer Min JS -->
    <script src="{% static 'js/odometer.min.js' %}"></script>
    <!-- Parallax Min JS -->
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <!-- Magnific Popup Min JS -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Nice Select Min JS -->
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <!-- WOW Min JS -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- AjaxChimp Min JS -->
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- notifications JS -->
    <script src="{% static 'js/notifications.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/custom.js' %}"></script>


{% if messages %}
    <script>
        $(document).ready(function () {
            {% for message in messages %}
                {% if message.tags != 'debug' %}
                    ShowMessage('', '{{ message }}', '{{ message.tags }}');
                {% endif %}
            {% endfor %}
        });
    </script>
{% endif %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
