{% load static %}
{% load thumbnail %}

<!-- Start Footer Area -->
<section class="footer-area">
    <div class="container">
        <div class="subscribe-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="newsletter-content">
                        <h2>Join Our Newsletter</h2>
                        <p>To know the latest information and the latest discounts of our company, subscribe to the newsletter.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL" required autocomplete="off">

                        <button type="submit">Subscribe <i class="fas fa-paper-plane"></i></button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        {% thumbnail setting.light_logo '150' format='PNG' quality=95 as im %}
                            <a href="{% url 'Home:Index' %}"><img src="{{ im.url }}" alt="image"></a>
                        {% endthumbnail %}

                        <p>{{ setting.short_about }}</p>
                    </div>

                    <ul class="social">
                        {% for social in socials %}
                            <li><a href="{{ social.url }}"><i class="{{ social.icon }}"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Links</h3>

                    <ul class="links-list">
                        <li><a href="{% url 'Home:Index' %}">Home</a></li>
                        <li><a href="{% url 'Article:List' %}">Blog</a></li>
                        <li><a href="{% url 'Doctor:List' %}">Doctors</a></li>
                        <li><a href="{% url 'Service:Categories' %}">Services</a></li>
                        <li><a href="{% url 'Home:Contact-Us' %}">Contact Us</a></li>
                        <li><a href="{% url 'Home:About-Us' %}">About Us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Last Blogs</h3>

                    <ul class="departments-list">
                        {% for article in articles %}
                            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                        {% endfor %}


                    </ul>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Last Services</h3>

                    <ul class="departments-list">
                        {% for article in articles %}
                            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                        {% endfor %}


                    </ul>
                </div>
            </div>


        </div>

        <div class="copyright-area">
            <p>© Fovia is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
        </div>
    </div>
</section>
<!-- End Footer Area -->

<div class="go-top"><i class="fas fa-chevron-up"></i></div>