Babel
phonenumbers

# Database apps
psycopg
psycopg2-binary

# rcssmin


django-render-partial
Django
Pillow
django-imagekit
django-debug-toolbar
django-taggit
django-ckeditor
django-phone-field
django-crispy-forms==1.9.2
django-phonenumber-field
django-compressor
cssmin
jsmin
django-bootstrap4

