<section class="widget widget_fovia_posts_thumb">
    <h3 class="widget-title">المنشورات ذات صلة</h3>
    {% for post in releted_blog %}
        <article class="item">
            <a href="{{ post.get_absolute_url }}" class="thumb">
                                <span class="fullimage cover bg1" role="img"
                                      style="background-image: url({{ post.img.url }}) !important;"></span>
            </a>
            <div class="info">
                <time datetime="1398-06-30">{{ post.created.date }}</time>
                <h4 class="title usmall"><a href="{{ post.get_absolute_url }}">{{ post.h1 }}</a></h4>
            </div>
            <div class="clear"></div>
        </article>
    {% endfor %}
</section>
