{% load static %}
{% load partial_views %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="ar"/>
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:locale" content="en">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

    {% include 'share/head.html' %}
    <title>Ceritamed {% block title %}{% endblock %}</title>
    {% block Meta %}{% endblock %}

</head>

<body>
{% header %}

{% block content %}{% endblock %}

{% footer %}

{% include 'share/scripts.html' %}

{% block custom-js %}{% endblock %}

</body>
</html>